<div class="container-fluid">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"> Add Pitch</div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form action="" method="post">
                            <div class="form-body">
                                <h3 class="box-title">About Pitch</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Pitch Name</label>
                                            <input type="text" id="firstName" class="form-control"
                                                placeholder="Sân thứ 1" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Category</label>
                                            <select class="form-control" data-placeholder="Choose a Category"
                                                tabindex="1" name="category" required>
                                                <option value="San5">Sân 5</option>
                                                <option value="San7">Sân 7</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Stadium</label>
                                            <select class="form-control" data-placeholder="Choose a Category"
                                                tabindex="1" name="stadium" required>
                                                {{#each stadium}}
                                                    <option value="{{_id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                {{!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-money"></i>
                                                </div>
                                                <input type="number" class="form-control" id="exampleInputuname"
                                                    placeholder="153" name="price" required>
                                            </div>
                                        </div>
                                    </div>

                                </div> --}}
                                {{!-- <h3 class="box-title m-t-40">Pitch Description</h3>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" name="detail" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">

                                    <!--/span-->
                                    <div class="col-md-3">
                                        <h3 class="box-title m-t-20">Upload Image</h3>
                                        <div class="product-img" id="preview">
                                        </div>
                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                            <span><i class="ion-upload m-r-5"></i>Upload Anonther
                                                Image</span>
                                            <input type="file" id="files" class="upload" accept="image/*" name="images"
                                                multiple required="">
                                        </div>
                                    </div>

                                </div> --}}
                            </div>
                            <div class="form-actions m-t-40">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>
                                    Add</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>